.container {
    margin: 0 auto;
    padding: 2% 5%;
    width: 60%;
    height: 90vh;
    background-color: #ffffff;
    flex-direction: row;
    display: flex;
}

.imagesContainer {
    width: 50%;
    height: 50%;
    padding: 20px;
    background-color: inherit;
}

.uploadContainer {
    width: 80%;
    height: 100%;
    margin: 10px;
    border-radius: 25px;
    background-color: #c4c4c4;
}


.btn {
    margin: 0 auto;
    max-width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(27, 83, 187);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.featureContainer {
    width: 50%;
    height: 100%;
    padding: 4% 0px;
    background-color: inherit;
}

.featureHead {
    border: 1px solid #000000;
    color: #000000 !important;
}

.featureBox {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
} 

.featureBox:nth-child(odd) {
    background-color: #c4c4c4;
    color: #ffffff
}

.featureBox:nth-child(even) {
    background-color: inherit;
    color: #c4c4c4;
}

.featureType, .label{
    padding: 0px 30px;
    width: 50%;
    background-color: inherit;
    font-family: 'Montserrat', sans-serif;
}