@import "../../CSSpartials/colors.scss";

.cont {
  margin-top: 45px;
}
.imageContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &:nth-child(2) {
    justify-content: flex-start;
  }

  & input {
    display: none;
  }
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .btn {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: $btn;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $btnHover;
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultContainer {
  text-align: center;
  font-size: 5rem;
  font-weight: bolder;

  & > div {
    display: inline;
    background: linear-gradient(90deg, $btnHover, rgb(3, 211, 200));
    background-clip: text;
    color: transparent;
  }
}

.error {
  text-align: center;
  background: repeating-linear-gradient(
    45deg,
    #ffd5d2,
    #ffd5d2 2px,
    #ffb3b3 2px,
    #ffb3b3 4px
  );
  color: red;
  margin: 1rem 0;
  border: 1px solid red;
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .imageContainer {
    justify-content: center;

    &:nth-child(2) {
      justify-content: center;
    }
  }
}
